<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hitomilib" >
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- For app targets Android 9 or lower. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <application
       >
        <service android:name="com.hitomilib.BluetoothLeService" />
    </application>

</manifest>
